extends layout

block content
	div.container(style='margin:20px')
		table.table.table-bordered.table-striped
			br
			thead
				tr
					
					th(style='width:40px') #
					th(style='width:180px') Title
					th(style='width:200px') Body
					th(style='width:180px') Date
					th(style='width:180px') Author
					th(style='width:180px') Comment
                    
                    
			tbody
			- for (var i = 0; i < posts.length; i++)
				tr
					td= i+1
					td= posts[i].title
					td= posts[i].body
					td= posts[i].date
					td= posts[i].author
					td: button#btn-addComment.btn.btn-primary Add Comment